body{
  background:no-repeat;
 background-image: linear-gradient(#2F80ED , #B2FFDA);
 font-family: Candara;

}



.foto{
  height: 100px;
  position: absolute;
  margin-left: -500px;
  margin-top: -100px;
}

.text{

}

.info{
  margin-left: 500px;
  margin-top: 100px;
  position: all;
}

.info::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.info:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.info::before {
  content: " ";
  display: block;
  position: absolute;

  inset: 0 0 0 0;
  background: linear-gradient(#0D396B,#0A2441 );
  z-index: -1;
  transition: transform .3s ease;
}

.fp {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 , #03c8a8 );
  border: none;
  z-index: 1;
  width: 425px;
  height: 100px;
  margin-top: 200px;
  font-family: Candara;
}
.fp:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: linear-gradient(315deg, #4dccc6 , #96e4df );
 background-image: linear-gradient(315deg, #4dccc6 , #96e4df );
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.fp:hover {
  color: #fff;
}
.fp:hover:after {
  top: 0;
  height: 100%;
}
.fp:active {
  top: 2px;
}




.error{
  color: transparent;
  margin-top: 30px;
}

.error2{
  color: transparent;
  margin-top: 440px;
}

.tp{
   background-image: linear-gradient(315deg, #03c8a8, #89d8d3  );

}


.yes {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  text-transform: uppercase;
}

.yes:first-of-type {   
  animation: showup 15s infinite;
}

.yes:last-of-type {
  width:0px;
  animation: reveal 5s infinite;
}

.yes:last-of-type span {
  margin-left:-500px;
  animation: slidein 25s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:600px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

.regresar{
  margin-bottom: -700px;

}